/* this is the light color stylesheet 
 * it should only contain colors.
 */

html[data-theme="light"] html, html[data-theme="light"] body {  background-color: #ffeaea; }
html[data-theme="light"] html, html[data-theme="light"] body, html[data-theme="light"] input { color: #000; }
html[data-theme="light"] a.logonav { color: #333; }
html[data-theme="light"] a.logonav:hover { background-color: #0093ff30; color: #555; }
html[data-theme="light"] a, html[data-theme="light"] #logo { color: #0093ff; }
html[data-theme="light"] input { background-color: #eee; border-color: #ccc; }
html[data-theme="light"] blockquote { background-color: #ddd; }
html[data-theme="light"] blockquote blockquote { background-color: #aaa4; }
html[data-theme="light"] div#header + div {
  background-color: rgb(234, 234, 234);
  box-shadow: rgb(76, 84, 92) 3px 3px 1px -2px
}

html[data-theme="light"] #root { border-color: #d7d9db; }
html[data-theme="light"] #header { background-color: #d7d9db; }

html[data-theme="light"] #realm_help .func_spec { background-color: #d7d9db9e; }
html[data-theme="light"] #realm_help .func_spec:nth-child(odd) { background: #d7d9db45; }
html[data-theme="light"] #realm_help .func_spec .shell_command { color: #5d5d5d; }
html[data-theme="light"] #realm_help .func_spec > table > tbody > tr > th { color: #000; }

html[data-theme="light"] pre { background-color: #d7d9db; }
html[data-theme="light"] code { 
  background-color: hsl(210, 30%, 80%); 
}
