@import url("../font/font.css");
@import "color-light.css" screen;
@import "color-dark.css" screen;
/* @import "color-dark.css" screen and (prefers-color-scheme: dark); */
@import "hljs.css";

/* When document goes through a printer, don't show the header */
@media print {
  div#header { display: none; }
}

/* this is the main stylesheet.
 * Don't put colors inside.
 * (see color-*.css for day/night and hljs.css for code highlighting)
 */

#theme-toggle {
  height: 32px;
  width: 32px;
  display: inline-block;
  opacity: .9;
}

/* html[data-theme="dark"] #header img { filter: invert(1); } */

html[data-theme="dark"] #theme-toggle-moon,
html[data-theme="light"] #theme-toggle-sun {
  display: none;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  transition: 0.25s all ease;
  line-height: 1.54em;
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; font-weight: normal;
}

ul { padding-left: 1.618em; }

blockquote blockquote { margin: 0; }
pre { margin: 0; }

code {
  border-radius: 3px;
  font-size: 1.04em;
  font-size: 0.87em;
  overflow: auto;
}

/* TODO rename to img#github */
html body img#github32 { 
  width: 28px; 
  height: 28px; 
  content:url(/static/img/github-mark-white.svg);
  opacity: 91%;
  padding-bottom: 2px;
  margin-right: 1px;
}
html body img#github32:hover { 
  opacity: 80%;
}

#package_file pre > code {
  font-size: 1.02em;
  line-height: 1.24em;
  padding: 1em;
}

#root { 
  margin: 20px; 
  /* note: Interesting is max-width: 800px for mini-asteroids */
  /* max-width: 800px; */
}

#header {
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: .5em .75em .5em 1em;
  margin-bottom: 0;
  height: 38px;
}

div#header + div {
  margin-top: 0px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

/* div#package_file, */
div#home,
div#packge_dir,
div#realm_help,
div#realm_render { 
  padding: 1px 15px 15px 15px;
}


div#home table { 
  border-collapse: collapse; 
  box-shadow: #00000020 1px 1px 5px;
  border-radius: 5px;
}
div#home table, th, td { 
  border: 1px solid #00000070; 
  padding: 3px;
}

a { text-decoration: none; }

#header_buttons {
  float: right;
  position: relative;
  padding-left: 22px;
  padding-top: .5em;
  margin-left: auto;
}


#logo, .logonav {
  position: relative;
  font-size: 1.5em;
}


#logo_path { 
  position: relative; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#logo_path a:hover { text-decoration: underline; }

a.logonav:hover { border-radius: 1.5px; }

#realm_links { position: relative; padding-left: 0.25em; }
#realm_links a:hover { text-decoration: underline; }

/* enabled conditionally with <noscript> */
#source { display: none; }

/*** REALM HELP ***/

html #realm_help .func_spec .shell_command { 
  /* font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; */
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  font-size: 0.9em;
}

#realm_help .func_spec > table > tbody > tr > th {
  width: 50px;
  vertical-align: top;
  text-align: right;
}

#realm_help div.func_spec > table {
/*   background: rgba(255,0,64,10%); */
  border-collapse: collapse;
}

#realm_help .func_name td {
  font-weight: bold;
}

/* the weird case of table within table */
#realm_help div.func_spec > table table th, #realm_help div.func_spec > table table { margin: 0; }
#realm_help div.func_spec > table table th, #realm_help div.func_spec > table table td { padding-left: 0; padding-top: 0; padding-bottom: 0; }
#realm_help div.func_spec > table table th, #realm_help div.func_spec > table table td { border: none; }

/* #realm_help div.func_spec > table th, #realm_help div.func_spec > table td { */
/*   padding: 10px; */
/* } */

h1 { font-size: 1.618em; line-height: 1.25em; }


/* small screen (responsive changes) */
@media (max-width: 585px), (max-height: 320px) {
  #root { margin:0; }
  #header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  div#header + div {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  /* fullscreen #home when small screen */
  div#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  div#home { 
    flex-grow: 1; 
  }
}

/** 
 * Hide header buttons but try to keep them 
 * on most phones for toggling theme.
 * iPhone 11 is 375x812
 * Galaxy S10 is 360x760
 */
@media (max-width: /* 359px */ 15em) {
  /* #header_buttons { visibility: hidden; } */
  #header_buttons { display: none; }
}
