@import url("../font/font.css");
@import "color-light.css" screen;
@import "color-dark.css" screen;
/* @import "color-dark.css" screen and (prefers-color-scheme: dark); */
@import "hljs.css";

/* When document goes through a printer, don't show the header */
@media print {
  div#header { display: none; }
}

/* this is the main stylesheet.
 * try not to put colors inside.
 * (see color-*.css for day/night and hljs.css for code highlighting)
 */

#theme-toggle {
  height: 32px;
  width: 32px;
  display: inline-block;
}

html[data-theme="dark"] #header img {
  filter: invert(1);
}

html[data-theme="dark"] #theme-toggle-moon,
html[data-theme="light"] #theme-toggle-sun {
  display: none;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html,
body {
  transition: 0.25s all ease;
  line-height: 1.54em;
	font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; font-weight: normal;
}


blockquote blockquote {
  margin: 0;
}

pre {
  margin: 0;
}

code {
  border-radius: 3px;
  /* padding: 5px 5px 0 5px; */
  font-size: 1.04em;
  font-size: 0.87em;
  overflow: auto;
}

pre > code {
  font-size: 0.9em;
}

/*** PAGE LAYOUT ***/

#root { margin: 20px; }

#header {
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding: .5em .75em .5em 1em;
  margin-bottom: 0;
  height: 38px;
}

div#header + div {
  margin-top: 0px;
  padding-top: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

div#home,
div#packge_dir,
div#package_file,
div#realm_help,
div#realm_render { 
  padding: 0 15px 15px 15px;
}

div#home table { 
  border-collapse: collapse; 
  box-shadow: #00000020 1px 1px 5px;
  border-radius: 5px;
}
div#home table, th, td { 
  border: 1px solid #00000070; 
  padding: 3px;
}

a { text-decoration: none; }

#header_buttons {
  float: right;
  position: relative;
  padding-left: 22px;
  padding-top: .5em;
  margin-left: auto;
}


#logo, .logonav {
  position: relative;
  font-size: 1.5em;
}


#logo_path { 
  position: relative; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#logo_path a:hover { text-decoration: underline; }

#realm_links { position: relative; padding-left: 0.25em; }
#realm_links a:hover { text-decoration: underline; }

/* enabled conditionally with <noscript> */
#source { display: none; }

/*** REALM HELP ***/

html #realm_help .func_spec .shell_command { 
  /* font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; */
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
}

#realm_help .func_spec > table > tbody > tr > th {
  width: 50px;
  vertical-align: top;
  text-align: right;
}

#realm_help .func_spec > table th,
#realm_help .func_spec > table td {
  padding-bottom: 16px;
}

#realm_help .func_spec > table th + td {
  padding-left: 50px;
}

#realm_help .func_spec > table th + td table td {
  padding-left: 12px;
}

#realm_help .func_name td {
  font-weight: bold;
}

h1 { font-size: 1.618em; line-height: 1.25em; }
